html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}S

footer {
  position: relative;
  width: 100%;
}

.empty-message {
  font-size: 1.2rem;
  color: #6c757d; /* Cinza claro */
}
